



<script>
var data = sessionStorage.getItem('SESSION_ISLOGIN');

if(data === "false")
{
 bootbox.alert("You Must Log In");
    $(location).attr('href', 'i')
}

</script>
<div class="jumbotron text-left">

 <img src="images\dotalogo.png " style="width:250px;height:145px;" align = "left" >
<h1>Code - Play - Sleep<a href="home"> <img src="images\logout.png " style="width:150px;height:100px;" align = "right" ></a></h1>

</div>

<div>

  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Anime</h3>
      <p>Katekyo Hitman Reborn</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>DOTA 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Codes</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>


<footer class = "footer">
<div class = "container">

</div>
</footer>
