<html>
<head>

<style>
body {
    background-color: black;
}
</style>
</head>
<body>


<script>

 sessionStorage.setItem('SESSION_ISLOGIN', 'false');



</script>
<a href="/">  <img src="images/key.png" height="200" width="200"> </a>

  <img src="images/loading2.gif" height="500" width="500">  

</body>

</html>